<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - DragonTrax</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.11.2.min.js"></script>
        @Styles.Render("~/Content/themes/base/css")
        <script src="http://cdn.alloyui.com/3.0.0/aui/aui-min.js"></script>
        <link href="http://cdn.alloyui.com/3.0.0/aui-css/css/bootstrap.min.css" rel="stylesheet">
        
    </head>
<body style="padding-top:0px">
    <a href="Index">
        <img src="~/Content/Icons/DragonTrax logo.png" style="width:25%" />
    </a>
    <a href="#" style="float:right">
        Name
        <img src="~/Content/Icons/blank.png" style="width:40%;border:1px solid;margin-top:5px" />
    </a>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("DashBoard", "Index", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Cases
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Add Case", "AddCase", "Home")</li>
                            <li><a href="#">Previous Cases</a></li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Evaluations", "NewEvaluation", "Home")</li>
                    <li><a href="#">Log Time</a></li>
                    <li><a href="#">Reports</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">My Account</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DragonTrax</p>

        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
